<div th:fragment="navbar">
<nav class="navbar navbar-expand-lg" style="background-color: skyblue">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/images/recursos/logo.png}" alt="logo" style="width: 100px; height: 50px;"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" th:href="@{/}"><i class="fas fa-home"></i>Menu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" th:href="@{/carrito}"><i class="fas fa-shopping-cart"></i>
          (<span class="fw-bold" th:text="${carrito != null ? carrito.size() : 0}">size</span> )Carrito</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <div>
            <a th:href="@{/nuevo}" class="btn btn-dark">
              <i class="fas fa-user-plus"></i>Registrarse
            </a>
            &nbsp;
            <a th:href="@{/login}" class="btn btn-dark">
              <i class="fas fa-user-lock"></i>Login
            </a>
        </div>
    </form>
  </div>
</nav>
</div>

<div th:fragment="navbar-user">
    <nav class="navbar navbar-expand-lg" style="background-color: skyblue">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/recursos/logo.png}" alt="logo" style="width: 100px; height: 50px;"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/}"><i class="fas fa-home"></i>Menu <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/carrito}"><i class="fas fa-shopping-cart"></i>
                        (<span class="fw-bold" th:text="${carrito != null ? carrito.size() : 0}">size</span> )Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/mispedidos}">
                        <i class="fa fa-receipt"></i> Mis pedidos
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div>
                    <span class="btn btn-light">USER</span>
                    &nbsp;
                    <a th:href="@{/usuario/logout}" class="btn btn-dark">
                        <i class="fa fa-sign-out-alt">Cerrar Sesion</i>
                    </a>
                </div>
            </form>
        </div>
    </nav>
</div>